<footer class="page-footer bg-dark text-light mt-3">
  <p>
    ©
    <!-- -->2022
    <!-- -->
    <span class="text-$indigo-500">Recipes Maker</span>
    . developed By
    <!-- -->
    <a>Atul Singh</a>
  </p>
</footer>